# Database connection string
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/slekco

# Note: Create a .env.local file in your local environment and paste your actual connection string there.
